@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#E7F0FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



h2{
    color: white;
    margin-bottom: 20px;
}

.input-box{
    position: relative;
    margin: 20px 0;
}

.input-box input{
    width: 90%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    border-bottom: 2px solid black;
    transition: 0.4s;
}

.input-box input:focus{
    border-color: #7BA4D0;
    box-shadow:  0 5px black;
}

.input-box span{
    position: absolute;
    top: 50%;
    left: 15px;
    color: black;
    font-size: 16px;
    pointer-events: none;
    transition: 0.4s;
    transform: translateY(-50%);
}

.input-box input:focus + span, 
.input-box input:not(:placeholder-shown) + span{
    top: 5px;
    font-size: 12px;
    color: #00FFFF;
}

.submit-btn{
    background: linear-gradient(90deg, #00ffff, #7BA4D0);
    border: 1px 1px black;
    padding: 12px 30px;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
}

.submit-btn:hover{
    background: linear-gradient(90deg, #7BA4D0, #00ffff);
    box-shadow: 0 5px 15px #00ffff80;
}





